.wp-block-downloads {

	&__file-list {
		list-style: none;

		&__item {
			display: block;
			margin: 0 0 map-get($spacing, 'xs');

			&__link {
				display: block !important;
				background: var(--colour-light);
				padding: map-get($spacing, 'sm');
				text-decoration-color: transparent !important;
				text-decoration: underline;

				&:before {
					display: none;
				}

				svg, i {
					margin-inline-end: map-get($spacing, 'sm');
				}

				&:hover, &:focus, &:active {
					text-decoration-color: currentColor !important;
				}
			}
		}
	}
}
