.wp-block-image-grid {

	&__intro {
		@include gutter-padding-bottom();
	}

	&__images {
		display: grid;
		gap: map-get($spacing, 'sm');
		grid-template-columns: repeat(3, 1fr);

		@include media-breakpoint-up(md) {
			grid-template-columns: repeat(4, 1fr);
		}

		@include media-breakpoint-up(lg) {
			grid-template-columns: repeat(5, 1fr);
		}

		&__image {
			img {
				width: 100%;
				height: auto;
			}
		}
	}
}
